[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnVILWorkflow"]
	path = AnVILWorkflow
	url = https://github.com/shbrief/anvilworkflow
[submodule "GenomicSuperSignature"]
	path = GenomicSuperSignature
	url = https://github.com/shbrief/genomicsupersignature
